html {
    /* scroll-behavior: smooth;
    scroll-snap-type: y mandatory; */
}

.navbar {
    background-color: black;
    min-height: 8vh;
    scroll-snap-align: start;
}

#navbar_logo {
    width: 250px;
}

h3 {
    padding-top: 10px;
}

@media (min-width: 966px) {
    .navbar-nav {
        float:none;
        margin:0 auto;
        display: block;
        text-align: center;
    }
    .navbar-nav > li {
        display: inline-block;
        float:none;
        margin-right: 50px;
    }
}

.link {
    font-family: 'Source Code Pro', serif;
    font-size: 1.5em;
    color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.link:hover {
    text-decoration: none;
    color: #0079C6;
}


#menu_items {
    display: flex;
}

#background {
    background: url("images/newBackground.jpg") no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#welcome_box {
    height: 82vh;
}

#intro {
    width: 100%;
    color:#0079C6;
    font-family: 'Source Code Pro', serif;
    margin: 0px;
    font-size: 1em;
}

#name {
    margin: 0px;
}

#tagline {
    font-size: 3em;
}

#down_icon {
    height: 10vh;
    color: black;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#down_icon:hover {
    color: #0079C6;
}


.section_box {
    scroll-snap-align: start;
}

#about_me {
    background-color: white;
    padding: 100px 0px 100px;
}

#profile_pic_box {
    height: 100%;
    margin-bottom: 50px;
}

#profile_pic {
    width: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

#projects, #contact {
    margin-top: 200px;
    background-color: white;
    padding: 100px 0px 100px;
}

.project {
    border: #0079C6 solid 1px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.project_pic {
    width: 100%;
}

footer {
    margin-top: 200px;
    height: 10vh;
    background-color: black;
    padding-top: 5vh;
    color: white;
    scroll-snap-align: start;
}

h5 {
    font-family: 'Source Code Pro', serif;
    font-size: 1em;
}

.icon_box {
    height: 50px;
}

.icon {
    color: black;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.icon:hover {
    color: #0079C6;
}

@media (max-width: 355px){
    #navbar_logo {
        width: 180px;
    }
}


@media (max-width: 576px){
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 2em;
    }
    #tagline {
        font-size: 1em;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    h1 {
        font-size: 6em;
    }
    h2 {
        font-size: 3em;
    }
    #tagline {
        font-size: 2em;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    h1 {
        font-size: 7em;
    }
    h2 {
        font-size: 4em;
    }
    #tagline {
        font-size: 2.5em;
    }
}
@media (min-width: 992px){
    h1 {
        font-size: 8em;
    }
    h2 {
        font-size: 5em;
    }
    #tagline {
        font-size: 3em;
    }
}